<div style="height: 100%; width:100%;" ng-style="{'background-color': carouselBackgroundColor}" >
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides" no-pause="true">
      <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id" >
        <img ng-show="{{slide.image.length > 2}}" ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <div class="text" ng-style="{'color': carouselTextColor}">{{slide.text}}</div>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
